.refer-heading {
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.refer-desc {
    color: #cccccc;
}

.refer-btn {
    transition: all ease 0.3s;
}

.refer-btn:active {
    box-shadow: 10px 10px 0px rgb(0, 0, 0);
}