@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@400;500;600;700;900&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #071724;
  color: #fff;
}

.container {
  max-width: 500px;
  padding-bottom: 100px;
  position: relative;
  padding-top: 55px;
  transition: all 0.3s ease-in-out;
}


.close-btn {
  background: none;
  border: none;
  color: #fff;
}