.probabilty-game-second-row {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  margin-top: 1rem;
}

.probabilty-game-second-row .numbers {
  display: flex;
  flex-direction: column;
}

.parity-record {
  margin-top: 1.5rem;
}

.parity-record p:first-child {
  color: #e1e0e0;
}

.parity-record-box {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 0.6rem;
}

.continuous-tab {
  overflow-x: auto !important;
  margin-top: 1.5rem;
}

.scroll-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  overflow-x: auto;
  gap: 0.6rem;
  width: 100%;
  overflow-x: auto !important;
  white-space: nowrap;
}

.parity__records__circle {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  position: relative;
  border-radius: 100px;
}

.parity__records__circle__no {
  width: 100%;
  aspect-ratio: 1 / 1;
  color: #fff;
  background: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 150;
}

.parity__records__circle__inner {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parity__records__circle__col {
  width: 100%;
  aspect-ratio: 1 / 2;
}

.parity__records__circle__col {
  width: 100%;
  aspect-ratio: 1 / 2;
}

.parity-myorder {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
}



.parity-myorder td:first-child {
  text-align: left;
}

.parity-myorder td:last-child {
  text-align: right;
}

.parity-myorder-header td {
  color: #f1b81a;
  font-weight: 500;
}

.parity-selected {
  display: flex;
  justify-content: center;
}

.parity-selected p {
  background-color: #e8f3d5;
  width: 50%;
  color: #000;
  font-size: 14px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parity-result p {
  width: 38%;
  border-radius: 50%;
  aspect-ratio: 1/1;
  background-color: #e14738;
  color: #fff;
}

@media screen and (max-width: 378px) {
  .parity-record-box div {
    width: 40px;
    height: 40px;
  }
}

.parity-top {
  border: 1px solid rgba(0, 255, 255, 0.239);
  background: #1bb9c134;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.parity-period p:first-child {
  color: #c8c5c5;
}

.parity-count {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.parity-count p:first-child {
  color: #c8c5c5;
}

.parity-count-box {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.parity-count-box p:first-child {
  background-color: rgba(255, 255, 255, 0.415);
  color: #fff;
  padding: 1rem;
  line-height: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.parity-count-box p:last-child {
  color: #ffffffe1;
  font-size: 14px;
}

.prity-colors {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  margin-top: 1rem;
}

.prity-colors div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 0.8rem;
}

.prity-colors div p:first-child {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.prity-colors div p:last-child {
  font-size: 13px;
  color: #efeded;
  letter-spacing: 1.5px;
}

.paritynum-btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.8rem;
  margin-top: 1rem;
}

.paritynum-btns div {
  background-color: #ffffff28;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  border-radius: 10px;
  aspect-ratio: 1/1;
}

.paritynum-btns p {
  font-size: 1.1rem;
  color: #e6e4e4;
}

.parity-btn {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2.5rem;
  gap: 1rem;
}

.parity-btn button {
  color: #fbab78;
  font-weight: 600;
  font-size: 15px;
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  background: none;
}

.parity-btn-active {
  background-color: #fbab78 !important;
  color: black !important;
}

.game-first-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.game-first-row div {
  text-align: right;
}

.game-first-row-box-out {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 0.6rem;
  align-items: center;
}

.game-first-row-box-out p {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 17px;
}

.game-first-row-box {
  height: 60%;
  width: 60%;
  border-radius: 5px;
}

.game-second-row {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin-top: 1rem;
}

.game-second-row div {
  border: 1px solid #c8c5c5;
  text-align: center;
  padding: 0.3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-second-row-color {
  padding: 1rem 0 !important;
}
.game-second-row-color p {
  background-color: #a2f4c4;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: #000;
  font-weight: 500;
}

.gameDetails-btn-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 1.5rem;
}

.gameDetails-btn-group button {
  background: none;
  padding: 0.8rem 0;
  border: none;
  border-radius: 8px;
  color: #f5f5f5;
  font-weight: 600;
  font-size: 16px;
}

.gameDetails-others {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.gameDetails-others p {
  color: #f1b81a;
  font-weight: 500;
}

.gameDetails-activeBtn {
  background: linear-gradient(
    to right bottom,
    rgb(255, 185, 9),
    rgb(254, 64, 45)
  ) !important;
}

.game-coins {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.3rem;
}

.game-coins img {
  width: 100%;
}

.input-container {
  background: #d3d3d33b;
}
.input-container input {
  background: none;
  border: none;
  color: #fff;
  font-weight: 600;
}

input:focus {
  outline: none;
}

.floating-btn {
  width: 55px;
  aspect-ratio: 1/1;
  background: #fec007;
  box-shadow: 0 10px 20px -10px #fec007;
  transition: all 0.3s ease-in-out;
  position: fixed;
  bottom: 15%;
  right: 2.5rem;
}

.floating-btn button {
  background: none;
  border: none;
}

.floating-btn button:focus {
  outline: none;
}

.floating-btn:active {
  scale: 1.2;
  outline: none !important;
}

.floating-btn button i {
  font-size: 2.5rem;
  color: #f5f5f5;
}
